/* Core Css */
@import "grid";
// @import "autogrid";
@import "general";

$font: 'arial', sans-serif;

body {
  background: #fff;
  font-family: $font;
  font-weight: 400;
  font-size: 15px;
  color: #222;
}

.example {
	@include wrap;
	> div {
		@include col;
		@include col(1,3);
	}
}

/* Responsive */
@media only screen and (max-width:1199px) { }
@media only screen and (max-width:1024px) { }
@media only screen and (max-height:800px) { }
@media only screen and (max-width:767px) { }